@page "/personlist"
@using NET6BlazorWASMForCRUDWithEFCore.Shared
@inject HttpClient _httpClient

<h1>Personal Detail</h1>

<div>
    <a href="/addperson" class="btn btn-success"> Create New Person</a>
    <hr />

    @if (personList != null)
    {
        <table class="table-bordered">
            <thead>
                <tr style="text-align : center;">
                    <th width="27%">Name</th>
                    <th width="30%">Email</th>
                    <th width="18%">Mobile No</th>
                    <th width="25%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var p in personList)
                {
                    <tr>
                        <td>@p.FirstName @p.LastName</td>
                        <td>@p.Email</td>
                        <td style="text-align : center;">@p.MobileNo</td>
                        <td style="text-align : center;">
                            <a href="/editperson/@p.Id" class="btn btn-info" >Edit</a>
                            <a href="/deleteperson/@p.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    List<PersonViewModel> personList = new List<PersonViewModel>();

    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/person");
        response.EnsureSuccessStatusCode();
        personList = await response.Content.ReadFromJsonAsync <List<PersonViewModel>> ();
    }
}
